# Arquivos do Maven

# Arquivos do Git
.git/
.gitignore

# Arquivos de IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Documentação
README.md
docs/

# Arquivos de configuração local
application-local.properties
application-dev.properties 